#tableRow{
    background: linear-gradient(to right, #667eea 0%, #764ba2 100%)!important;
}
#applyCompOff {
    border: none;
    background: linear-gradient(to right, #764ba2 70%, #764ba2 30%)!important;
}